PROJECT_NAME="HomeSync Authentication Service"
API_V1_STR="/api/v1"
SECRET_KEY="homesyncofficialsignature"
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=30

POSTGRES_SERVER=localhost
POSTGRES_USER=ems_user
POSTGRES_PASSWORD=12345
POSTGRES_DB=ems_db
POSTGRES_PORT=5432
DATABASE_URL=postgresql+asyncpg://ems_user:12345@localhost:5432/ems_db

USE_REDIS=True
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=""
REDIS_DB=0

SUPABASE_URL="https://hqwhgwstqrqztglcjvut.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhxd2hnd3N0cXJxenRnbGNqdnV0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEwNjY5MDksImV4cCI6MjA5NjY0MjkwOX0.2jDnW8x7pvFREkBYLZjfTVIJKU22zk1OMqEfO7E-rnI"
SUPABASE_BUCKET_NAME="profile-images"

GOOGLE_CLIENT_ID="google-client-id"
GOOGLE_CLIENT_SECRET="google-client-secret"
APPLE_CLIENT_ID="apple-client-id"
APPLE_CLIENT_SECRET="apple-client-secret"

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER="noreplyhomesyncofficial@gmail.com"
SMTP_PASSWORD="vyxm jmsr kexs utpz"
EMAILS_FROM_EMAIL="noreplyhomesyncofficial@gmail.com"
EMAILS_FROM_NAME="HomeSync"

ENVIRONMENT=development
