# Virtual Environment
.venv/
venv/
env/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# Environment Files
.env

# Testing & IDEs
.pytest_cache/
.vscode/
.idea/

# Scratch Directory
scratch/
